<ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-30">
        <a class="sidebar-link" href="/call/">
                <span class="icon-holder">
                  <i class="c-light-blue-500 ti-pencil"></i>
                </span>
            <span class="title">Регистрация обращений</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="sidebar-link" href="/calls/">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-layout-list-thumb"></i>
                </span>
            <span class="title">История обращений</span>
        </a>
    </li>

    <li class="nav-item">
      <a class="sidebar-link" href="/reports/">
        <span class="icon-holder">
          <i class="c-blue-500 ti-files"></i>
        </span>
        <span class="title">Отчетность</span>
      </a>
    </li>
</ul>